/* color pallette for this project : #84D2F6, #91E5F6, #59A5D8, #386FA4, #133C55 */

html, body {
  font-family: 'Arimo', sans-serif;
  background-color: #84D2F6;
  margin: 0;
  padding: 0;
};

main #header {
  color : #91E5F6;
}