/* color pallette for this project : #84D2F6, #91E5F6, #59A5D8, #386FA4, #133C55 */

body {
  font-family: 'Arimo', sans-serif;
  background-color: #84D2F6;
  margin: 0;
  padding: 0;
};

#header {
  background-color: #59A5D8;
  color: white;
  text-align: center;
  padding: 20px;
};